body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-box {
    /* width: 300px; */
    width: 35%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.login-box h2 {
    text-align: center;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box input[type="submit"] {
    width: 93%;
    margin: 8px;
    padding: 10px;
    background: #2f8d46;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content{
    display: flex;
}
.content button{
    margin: 8px;
    color: white;
    border: none;
    border-radius: 2px;
    height: 6vh;
    width: 45%;
}
.content2 button{
    margin: 8px;
    border: none;
    border-radius: 2px;
    height: 6vh;
    width: 45%;
}
.content2{
    display: flex;
    color: white;
}
.username{
    display: flex;

}
.pass{
    display: flex;
}
.git{
    background-color: black;
    color: white;
}
.link{
    background-color: rgb(2, 2, 88);
    color: white;
}
.acc{
    display: flex;
    justify-content: center;
    align-items: center;

}
.acc2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;

}
.acc p{
    color: #2f8d46;;
}
.acc2 span{
    color: #2f8d46;;
}
.google{
    background-color: rgb(207, 24, 24);
    color: white;
    letter-spacing: normal;
}
.facebook{
    color: white;
    background-color: rgb(4, 4, 109);
}
.content button:hover{
      background-color: black;
      cursor: pointer;
}
.content2 button:hover{
      background-color: rgb(2, 2, 78);
      cursor: pointer;
}